footer.scrollme
    .footer
        .container
          .row.row-footer-news
            .col-md-12.news
                h3 新闻
                .iframe-wrapper
                  a.twitter-timeline(href="https://twitter.com/ethereumproject", data-widget-id="694952013856112640", data-chrome="nofooter noborders transparent noheader", width="100%", height="370px") 通过推文 @ethereumproject
                  script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

          .row.row-footer-primary
            .col-md-4.community
              h3 社区
              .row
                .col-sm-5
                  ul
                    li
                      a(href='https://blog.ethereum.org', target='_blank')
                        i.fa.fa-rss
                        |  博客
                    li
                      a(href='https://github.com/ethereum', target='_blank')
                        i.fa.fa-github
                        |  基由
                    li
                      a(href='https://www.youtube.com/user/ethereumproject', target='_blank')
                        i.fa.fa-youtube
                        |  油管
                    li
                      a(href='https://www.reddit.com/r/ethereum', target='_blank')
                        i.fa.fa-reddit
                        |  Reddit
                    li
                      a(href='https://gitter.im/orgs/ethereum/rooms', target='_blank')
                        i.fa.fa-comments-o
                        |  格
                .col-sm-7
                  ul
                    li
                      a(href='https://twitter.com/ethereumproject', target='_blank')
                        i.fa.fa-twitter
                        |  推特
                    li
                      a(href='https://ethereum.stackexchange.com', target='_blank')
                        i.fa.fa-stack-exchange
                        |  堆栈交换
                    li
                      a(href='https://www.facebook.com/ethereumproject', target='_blank')
                        i.fa.fa-facebook
                        |  脸书
                    li
                      a(href='https://ethereum.meetup.com', target='_blank')
                        i.fa.fa-meetup
                        |  见面

            .col-md-4.about-us
                h3 以太坊基金会

                p 以太坊由
                  a(href='./foundation') 以太坊基金会
                  | 的全球开发团队开发, 瑞士一家非营利组织。

                p
                    a(href='./donate').donate-button 捐赠支持发展
                    .caption (你可以得到一个独角兽！)

            .col-md-4.developer-resources
              h3 开发者资源
              ul
                li 以太是什么？
                  a(href='./ether') 阅读我们的FAQ
                li 浏览我们的源代码
                  a(href='https://github.com/ethereum/', target='_blank') GitHub
                li 阅读
                  a(href='http://www.ethdocs.org/', target='_blank') 文档
                li 学习
                  a(href='https://solidity.readthedocs.org/', target='_blank') Solidity
                li 查看最新的
                  a(href='https://ethstats.net', target='_blank') 数据和网络统计信息
                li 下载我们的
                  a(href='./assets') 徽标资产
                li 想要写关于以太坊的信息吗？
                  a(href='mailto:press@ethereum.org') 新闻查询

          .row.row-footer-copyright
            .col-md-12
              p.copyright 版权 &copy; 2018年以太坊基金会（以太坊基金会），瑞士楚格。 版权所有。
              p.footer-links
                  a(href='./privacy-policy') 隐私政策
                  | &nbsp; &nbsp;
                  a(href='./cookie-policy') Cookie政策
                  | &nbsp; &nbsp;
                  a(href='./terms-of-use') 使用条款

          .row.row-footer-canary
            .col-md-12
                .canary
                    p 以太坊基金会（Stiftung Ethereum）从来没有接触过世界任何地方的任何机构，但要求联系人不要公开。
                    p Stiftung Ethereum将向政府机构公开披露任何不属于正常业务活动范围的询问。
