extends layout

block vars
  - var title='法律协议'
  - var url='agreement'

block content
  include mixins/recipes.pug
  +inner-header("法律协议")

  .main-tutorial.inner-page.foundation-page
    .container
      .row
        .col-md-12
          include:markdown-it content/agreement.md







