extends layout

block vars
  - var title='品牌指南'
  - var url='brand'

block content
  include mixins/recipes.pug
  +inner-header("品牌指南")

  .main-tutorial.inner-page.even
    .container
      .row
        .col-md-12
          h2 视觉识别指南
          p 如果您是设计师在工作中使用我们的标志，请按照
            a(href="/images/logos/Ethereum_Visual_Identity_1.0.0.pdf", target="_blank") 以太坊视觉识别指南
            |:

          p
            a(href="/images/logos/Ethereum_Visual_Identity_1.0.0.pdf", target="_blank")
              img(alt="Ethereum Visual Identity Guide", src="images/logos/Ethereum_Visual_Identity_1.0.0.png", style="max-width: 400px;")

  .main-tutorial.inner-page.brand
    .container
      .row
        .col-md-12
          include:markdown-it content/branding.md

          a.button.small(href='https://github.com/ethereum/ethereum-org/edit/master/views/content/branding.md') 改进此页面