extends layout

block vars
  - var title='Cookie政策'
  - var url='privacy-policy'


block content
  include mixins/recipes.pug
  .breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum
    strong »  Cookie政策

  .main-tutorial.even
    .container
      .row
        .col-md-12
          h2 Cookie政策
          include:markdown-it content/cookie.md
          .cookie_table
            table
                thead
                    th Cookie
                    th Name
                    th 目的
                    tbody
                        tr
                            td 谷歌分析
                            td _ga
                            td 用于区分用户。,使我们能够确定哪些网页很受欢迎，估计我们的受众规模和使用模式，并更好地了解网站的使用方式。
                        tr
                            td Google Analytics（分析）GID
                            td _gid
                            td 用于区分用户。,使我们能够确定哪些网页很受欢迎，估计我们的受众规模和使用模式，并更好地了解网站的使用方式。
                        tr
                            td Google Analytics（分析）节流
                            td _gat
                            td Used来限制请求速率。 此cookie不存储任何用户信息。 它被Google用来限制必须对doubleclick.net进行请求的数量（在我们的案例中这将是零，因为我们没有在我们的网站上使用任何广告）。
                        tr
                            td WordPress评论作者网址
                            td comment_author_url
                            td 仅在用户对以太坊博客进行评论时才使用。 存储用户在之前的评论中输入的URL，以便当用户希望将来发表评论时，URL可以自动输入到评论表单中。
                        tr
                            td WordPress评论作者电子邮件
                            td comment_author_email
                            td 仅在用户对以太坊博客进行评论时才使用。 存储用户在先前评论中输入的电子邮件地址，以便当用户希望将来发表评论时，电子邮件地址可以自动输入到评论表单中。
                        tr
                            td WordPress作者姓名
                            td comment_author
                            td 仅在用户对以太坊博客进行评论时才使用。 存储用户在先前评论中输入的名称，以便当用户希望将来发表评论时，该名称可以自动输入到评论表单中。
                        tr
                            td WordPress作者姓名
                            td wp_woocommerce_session
                            td 仅当用户将商品添加到购物车时才使用。 存储一个ID，以便用户可以在以后继续购物，而无需注册账户。
                        tr
                            td WooCommerce购物车哈希
                            td woocommerce_cart_hash
                            td 仅当用户将商品添加到购物车时才使用。 存储购物车信息，以便用户可以在以后继续购物，而无需注册账户。
                        tr
                            td 购物车中的WooCommerce项目
                            td woocommerce_items_in_cart
                            td 仅当用户将商品添加到购物车时才使用。 存储购物车信息，以便用户可以在以后继续购物，而无需注册账户。

          p.cookie_pol 您可以通过激活浏览器上的设置来阻止Cookie，从而拒绝设置所有或部分Cookie。 但是，如果您使用浏览器设置阻止所有Cookie（包括必要的Cookie），则可能无法访问我们网站的全部或部分内容。
          p.cookie_pol 除必要的cookies以外，所有的cookies将在两年后过期。