extends layout

block vars
  - var title='捐赠支持发展'
  - var url='donate'

block content
  include mixins/recipes.pug
  +inner-header("捐赠支持发展")

  .main-tutorial.inner-page
    .container
      div#donate_inst.row
        .col-md-12
          h2 感谢您想帮助！


          p 以太坊基金会是一个非盈利的瑞士基金会，它在瑞士注册为基金会以太坊（Foundation Ethereum）。 您可以

            a(href='./foundation') 在基础页面上阅读更多内容
            | .


          p
            strong 基金会的使命
            |  旨在推动和支持以太坊平台和基础层研究，开发和教育，将分散的协议和工具带到全球，使开发人员能够开发下一代分散式应用程序，并共同构建更全球化，更自由和更可靠的互联网。


          p 如果你想帮助我们实现这些目标，你可以这样做。

          h3 捐


          p
            strong 捐赠是支持基金会的有用方式。
            | 我们已经成立了一个特殊的合同账户来处理所有问题
            strong 比特币和以太网
            |  捐款。 所有收到的资金都可以在区块链上看到，供任何人查看。

            img(src='images/unicorn.png', width='150').pull-right
          p
            | 另外，捐款可能会让你成为独角兽。 作为感谢捐赠者的有趣方式，我们在名为&#8220;独角兽&#8221;的以太坊区块链上创建了一个令牌。
          p
            include:markdown-it content/donate-section.md

          p
            strong 在您捐赠之前
            |, 我们想确保你知道一些重要的事情。
            include:markdown-it content/donate-conditions.md

          h4 如果您想捐赠，在您确认资金合法性后，说明会出现。

          p
            form(name="illegal", method="post")
              .input
                input(type="checkbox" name="not_illegal" id="legal" style="transform: scale(1.5);")
                label(for="legal") 我的捐款来自合法来源，并且符合我司法管辖区的税法。

  .main-tutorial.inner-page.even
    h3

  div#donate_to.main-tutorial.inner-page.even
    .container
      .row
        .col-md-12.donate
          h4 对于以太捐款，特别账户是：
          .identicon
          span.dapp-identicon(style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABgElEQVR4Xu2asQ0CMQxFuRWQKFmCkoqGkSgQNaJgl1uAhopFaKhuABqYAL/iC+U43rWRE9/P97fjpHv2i9es+IbNshoe/dj8ei997ARABhgCaoAiaBb4jMDk0+BjWJUaMPpEHzrYCYAMMATUgFBHftpcEfz7LEDHYeJ360KJzvvkP/YDaAIBaNwxkgHQ8iIGGwKKIPQEiUKK4NRFcH+p++qnbdt7g9Q/FMF0AQqhdDz1TwAoC6QIpztM9ql/MkAGQB2QUowonI6n/hkC1BCh0xZVgmRPDEjnJ3tsidEP0AJkLwCAQAow2csANQCuxiiGiWJkrwaoATUCKcPIHkXwfLiVHlI/gCo1CoF0/t1xXb8TJBEUABlgCKgBFQKpSCmCgEAKsFng22mQECaKp+OUpsm/uBCiBdIfJHsBgDqFNkgGpKUwIUwUTscNAUOgLtWJoWoAXY1RQ4FikCo50gDqJ9AOU0sOb4YEAJ7AyICwYWIIAAJqADzSUgThuGsWgLfEbx19IL+uODI/AAAAAElFTkSuQmCC')")

          h2 基础提示罐
          h3
            a(href='https://etherscan.io/address/0xfB6916095ca1df60bB79Ce92cE3Ea74c37c5d359') 0xfB6916095ca1df60bB79Ce92cE3Ea74c37c5d359
          p.caption 有关更大捐赠的信息，
            a(href='mailto:donate@ethereum.org') 联系我们

          h4 对于BITCOINS捐款，特别帐户是
          h3
            a(href='https://blockchain.info/address/39BaMQCphFXyYAvcoGpeKtnptLJ9v6cdFY') 39BaMQCphFXyYAvcoGpeKtnptLJ9v6cdFY
          p.caption 不幸的是，比特币捐款不适合独角兽。


           h4 菲亚特（钱）捐款：

           p.caption 如果你想用传统货币做出贡献，请联系我们
             a(href="mailto:donate@ethereum.org") donate@ethereum.org

           h4 对于其他CRYPTOCURRENCIES：

           p.caption The
             a(href="https://github.com/ethereum/mist/releases") 以太坊钱包
             | 应用使用* shapeshift *在任何加密货币和乙醚之间转换为任何合约。,如果您在Foundation Tip Jar页面上，只需单击按钮即可
             strong 使用比特币存款
             | . 不过，独角兽不会被寄回给你。

  .main-tutorial.inner-page.inner-tutorial
    .container
      .row
        .col-md-12
          include:markdown-it content/donate.md
          h3
            a(name="watch") 以下是如何观看和玩独角兽
          include:markdown-it content/donate2.md
