extends layout

block content
  include mixins/recipes.pug
  +inner-header("Error")

  .main-tutorial.inner-page
    .container
      .row
        .col-md-12
            h2 发生错误。
            h3= message
            h4= error.status
            pre #{error.stack}