extends layout

block vars
  - var title='在以太坊创建Hello World合约'
  - var url='greeter'
  - var image='greeter'

block content
  include mixins/recipes.pug


  .breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum
    strong » 创建一个数字迎宾
    a(href="/cli").previous 上一个
    a(href="/token").next 下一个

  div#tutorial-start.main-tutorial.ether-tutorial.inner-header.inner-page.even
    .container
      .row
        .col-md-6.tutorial.scrollme
          +greeterFigure

        .col-md-6.tutorial.scrollme
          .header-title
            h2.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="400", data-easing="linear") The Greeter
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear")  你的数字朋友很有趣


  .main-tutorial.inner-tutorial
    .container
      .row
        +toc
        .col-md-12
          include:markdown-it content/greeter.md
          a.button.small(href='https://github.com/ethereum/ethereum-org/edit/master/views/content/greeter.md') 改进此页面

  .main-tutorial.even
    .container
      .row
        .col-md-12.tutorial
          +tokenRecipe("下一步是什么？")




  script
    |  ((window.gitter = {}).chat = {}).options = {
    |    room: 'ethereum/go-ethereum'
    |  };

  script(src="https://sidecar.gitter.im/dist/sidecar.v1.js", async, defer)

