div#warning.warning
    .container
      .row
        .col-md-12.scrollme
          a(href="/").back « 回到主页面

          figure.bad-robot.animateme(data-when="span", data-from="1", data-to="0", data-translatey="80")
          h2 注意
          h3 Frontier是早期进入以太坊网络的通道。 错误和安全问题可能存在。 在下载之前，您必须同意接下来的条款和下面链接的完整条款。

          ul.short-terms.animateme(data-when="span", data-from="0.2", data-to="0", data-opacity="0.2")
            li 用户明确知道并同意用户使用以太坊平台的风险由用户承担。
            li 用户表示用户对密码令牌和基于区块链的开源软件，eth平台和eth的风险，使用和复杂性有充分的理解。
            li 用户承认并同意，在任何适用法律允许的最大范围内，此处包含的责任免责声明适用于因使用或不能使用eth或,以太坊平台根据任何管辖范围内的任何原因或行为采取任何行动，包括但不限于违反保证，违反合同或侵权行为（包括疏忽）的行为，并且以太坊或以太坊团队均不应对任何间接,，偶然的，特殊的，示范性的或后果性的损害赔偿，包括利润损失，商誉或数据损失。
            li 有些司法管辖区不允许排除某些担保或限制或免除某些类型的损害赔偿责任。 因此，本节中的某些上述限制可能不适用于用户。 特别是，这些条款中的任何内容都不会影响任何用户的法定权利，也不会排除Stiftung Ethereum的任何故意不当行为或欺诈行为所造成的伤害。
            li 用户已阅读，理解并同意
              a(href="/agreement") 法律协议的完整条款


          a(href="/agreement").terms 阅读协议的完整条款
          a#agreement.button 阅读协议的完整条款

      .clearfix
        br
        br

